*{
    font-family: sans-serif;
    margin: 0;

}
body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    top: 0;
    position: fixed;
    background-color: green;
    text-align: center;
    width: 100%;
    color: white;
}
#minha_foto {
    padding-top: 2%;
    width: 200px;
    border: 5px solid green;
}
table td {
    border: 1px solid green;
}
section{
    padding: 2% 0;
}
section article{
    padding: 2% 0;
    
}
section .lado-esquerdo{
    float: left;
    width: 40%;
    padding-bottom: 2%;
    border: 3px solid green;
    margin-left: 2%;
}
section .lado-direito{
    float: right;
    width: 40%;
    padding-bottom: 2%;
    border: 3px solid green;
    margin-right: 2%;
}
footer p{
    margin-top: 10%;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px
}
a {
    color: black
}